# Entorno virtual
venv/
.venv/

# Archivos de entorno
.env

# Archivos temporales / cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Archivos de VS Code
.vscode/

# Notebooks checkpoints
.ipynb_checkpoints/

# Carpetas de volúmenes docker
docker/postgres/